/* p {
    padding: 20px;
    border: 10px solid yellow;
} */


/* .box { */


/* border: 3px solid yellow;
    width: 150px;
    height: 150px;
    overflow: scroll; */


/* width: 50%;
    height: 100px;
    background-color: gold;
    border-top: 10px solid orange; */


/* } */


/* .boxes {
    border: 3px solid lightgray;
}

.box {
    width: 5rem;
    height: 5rem;
}

.box-one {
    background: gold;
}

.box-two {
    background: tomato;
    position: relative; */


/* left: -4rem; */


/* left: 4rem;
}

.box-three {
    background: dodgerblue;
} */